:root {
  --transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  --transition-main: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  --rounded-borders: 15px;
  --primary-dark: rgba(2, 0, 36, 1);
  --primary-light: rgba(0, 202, 249, 1);
  --bg-bg: linear-gradient(var(--primary-light), var(--primary-dark));
  --secondary-dark: rgb(30, 30, 62, 1);
  --secondary-light: antiquewhite;
  --input-bg-light: #897869;
  --input-bg-dark: #000;
  --fadein-opacity: 0;
  --fadein-blur: blur(10px);
  --fade: 0.85;
  --box-shadow-output: rgba(0, 0, 0, 0.3) 0px 19px 38px;
  --box-shadow-input: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
body {
  background: #09203f;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  overflow: hidden;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 500;
}
.fundName,
.chartName {
  position: fixed;
  background-color: var(--primary-dark);
  padding: 2%;
  padding-bottom: 4%;
  color: white;
  width: 30vw;
  height: 5vh;
  left: 1vw;
  top: 10vh;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.chartName {
  top: 85vh;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3% 2%;
}
.chartName h3 {
  position: relative;
  width: 100%;
}
.chartName .btn {
  margin: 0 10px;
}
.fundDashboard {
  position: fixed;
  border: 1px solid black;
  border-radius: 25px;
  background-color: var(--secondary-dark);
  width: 30vw;
  height: 55vh;
  top: 25vh;
  left: 1vw;
  padding: 1%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.fundDashboardSubSections {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 5% 0%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.fundDashboard h3 {
  color: white;
}
.fundDashboardSubSections .row:nth-child(odd) {
  background-color: var(--primary-light);
}
.fundDashboardSubSections .row:nth-child(even) {
  background-color: white;
}
.graphSpace {
  position: absolute;
  width: 60vw;
  height: 85vh;
  left: 35vw;
  top: 10vh;
  overflow-y: scroll;
  z-index: 1;
}
.graphContainer {
  position: relative;
  padding: 2%;
  color: white;
  background-color: var(--secondary-dark);
  border-radius: 25px;
  margin-bottom: 5%;
  z-index: 1;
}
.graphSpace h4 {
  color: rgba(2, 0, 36, 1);
}
.nav-item {
  background-color: rgba(0, 202, 249, 0.3);
  margin: 10px;
  border-radius: 12px;
  width: 100px;
  text-align: center;
  transition: all 0.2s ease;
}
.nav-item-magnify:hover {
  transform: scale(1.25);
}
.builder-nav-item {
  border-left: 1px solid white;
  padding-left: 2%;
  margin-left: 2%;
}
.nav-dropdown {
  position: absolute;
  right: 10px;
  width: 300px;
}
.nav-dropdown-toggle {
  color: white;
}
.nav-dropdown-toggle:hover {
  color: white;
}
.nav-dropdown-menu {
  position: relative;
  width: 100%;
}
.inflow_line_item_container {
  border: 1px solid white;
  border-radius: 15px;
  padding: 1%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.inflow_line_item_addbuttons {
  background-color: white;
  padding: 0.5%;
  border-radius: 10px;
  margin-left: 10px;
}
.inflow_line_item_selector {
  background: white;
  width: 100%;
  padding: 1%;
  border-radius: 10px;
  margin: 0 10px 0 40px;
  opacity: 1;
  transition: all 0.2s ease-in;
}
.inflow_dropdown_buttons {
  margin-left: 10%;
  width: 80%;
}
.inflow_dropdown_buttons:hover,
.inflow_dropdown_buttons:focus,
.inflow_dropdown_buttons:active {
  background-color: white;
  color: blue;
}
.inflow-dropdown-menu {
  position: absolute;
  left: 15%;
  width: 70%;
}

.outflowItemContainer {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1%;
  padding-left: 5%;
  border-radius: 12.5px;
}
.outflowItemDropdown,
.outflowInput {
  width: 200px;
  margin: 0 20px 0 10px;
  height: 40px;
}
.outflowItemDropdown button {
  width: 100%;
}
.outflowInput {
  border: 1px solid blue;
  padding-left: 20px;
  border-radius: 8.5px;
}
.dataTable {
  display: flex;
  color: white;
  text-align: center;
}
.tableContainer {
  width: 100%;
  overflow: scroll;
  scrollbar-color: black;
  margin-left: 30px;
}
.tableContainer table {
  width: 100%;
  table-layout: fixed;
}
.dataTable tr {
  border: 1px solid white;
  height: 30px;
}
.dataTable td,
th {
  border: 1px solid white;
  width: 150px;
}
