.buildWaterfallContainer {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: var(--primary-dark);
  padding: 2.5%;
  border-radius: var(--rounded-borders);
  color: white;
}
.outflowsContainer {
  background-color: var(--secondary-dark);
  border-radius: var(--rounded-borders);
  padding: 1.5%;
  height: 80%;
  overflow: scroll;
}
/* .outflowsContainer button {
  position: absolute;
  width: 30%;
  left: 35%;
  bottom: 10%;
} */
.deleteWaterfall {
  position: absolute;
}

.waterfallOutflowItemContainer {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  background-color: white;
  border-radius: var(--rounded-borders);
  height: 40px;
  padding: 1% 0 4% 0;
}
